<p>Hi, my real name is <%= @the_person.name %>.</p>
<p>But on Twitter I'm called <%= @the_person.nickname %>, I'm called this because</p>
<blockquote>
  <%= @the_person.story.text %>
</blockquote>
<p>The end.</p>